<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>
<body>

  <!-- 导航条区域 -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">黑马博客</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if (isLogin) { %>
          <!-- 注销和用户名按钮组 -->
          <div class="nav navbar-nav navbar-right navbar-form">
            <button class="btn btn-warning">欢迎
              <strong><%= user.nickname %></strong></button>
            <a class="btn btn-danger" href="/logout">注销</a>
          </div>
  
          <!-- 发表文章按钮组 -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">发表
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="javascript:;">文章</a>
                </li>
                <li>
                  <a href="javascript:;">问题</a>
                </li>
              </ul>
            </li>
          </ul>
        <% } else { %>
          <!-- 登录注册按钮组 -->
          <div class="nav navbar-nav navbar-right navbar-form">
            <a class="btn btn-success" href="/register">注册</a>
            <a class="btn btn-primary" href="/login">登录</a>
          </div>
        <% } %> 
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <h1>文章列表</h1>

  <!-- 版权区域 -->
  <div class="text-center text-muted">
    传智播客 © 黑马程序员 2018
  </div>

</body>
</html>