<%- include('../common/header.ejs') %>

<div class="container">
  <h1 class="text-center">
    <%= article.title %>
    <a class="btn btn-info pull-right" href="javascript:;">编辑</a>
  </h1>
  <hr>

  <div>
    <%- article.content %>
  </div>

</div>

<%- include('../common/footer.ejs') %>